.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main p {
  font-family: 'Raleway', sans-serif;
}

.letsTalkBtn {
  font-family: 'Raleway', sans-serif;
  background-color: grey;
  padding: 4px 8px;
  border-radius: 8px;
}

.letsTalkBtn:hover {
  background-color: rgb(117, 117, 117);
  color: black;
}
